.main {
  display: flex;
  flex-direction: column;
  padding-top: var(--padding-top-pc);
  padding-left: var(--padding-left-pc);
  padding-right: var(--padding-right-pc);
  gap: 40px;
}

.input-search {
  border: 1px solid gray;
  padding: 10px 15px;
  border-radius: 10px;
}

.input-search:focus {
  outline-offset: -1px;
  outline-color: var(--primary-color);
}

.table {
  width: 100%;
}

.table,
.product-table-th,
.product-table-td {
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 5px 10px;
  height: 100%;
}

.th-container {
  display: flex;
}

@media (max-width: 768px) {
  .main {
    padding-left: var(--padding-left);
  }

  .product-table-th {
    font-size: var(--th-font-size-mobile);
  }

  .product-table-td {
    font-size: var(--td-font-size-mobile);
  }

  .table-container {
    overflow-x: auto;
  }
}

@media (min-width: 769px) {
  .main {
    padding-top: 95px;
  }
}