.sidebar,
.sidebar-mobile {
  position: fixed;
  top: 44px;
  bottom: 0;
  width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--surface);
  padding: 10px;
}

.sidebar-en,
.sidebar-mobile-en {
  left: 0;
  direction: ltr;
}

.sidebar-fa,
.sidebar-mobile-fa {
  right: 0;
  direction: rtl;
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link {
  background-color: var(--link);
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
  transition: transform 0.2s;
}

.link:hover {
  transform: scale(1.05);
}

.link:active {
  transform: scale(0.9);
}

.link-text {
  font-weight: bold;
  color: black;
  font-size: 14px;
}


@media (min-width: 769px) {
  .sidebar {
    top: 80px;
    z-index: 100;
  }

  .sidebar-mobile {
    opacity: 0;
    z-index: 99;
  }
}

@media (max-width: 768px) {
  .sidebar {
    opacity: 0;
    top: 44px;
    width: 0px;
    z-index: 99;
    opacity: 0;
  }

  .sidebar-mobile {
    width: 50px;
    opacity: 1;
    z-index: 100;
  }
}