*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #FFD60A;
  --auth-color: rgb(255, 191, 41);
  --text-size: 20px;
  --text-size-mobile: 13px;
  --title-size-auth: 30px;
  --title-size-auth-mobile: 15px; 
}