.header {
  display: flex;
  background-color: var(--auth-color);
  padding: 10px;
}

.main-logo-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.text-gadget {
  color: black;
  background-color: var(--primary-color);
  padding-right: 4px;
  font-weight: bold;
}

.text-shop {
  color: var(--primary-color);
  background-color: black;
  padding-left: 4px;
  font-weight: bold;
}

@media (min-width: 769px) {
  .header {
    height: 61px;
    padding-top: 38px;
  }

  .text-gadget {
    padding: 10px;
    padding-left: 15px;
  }
  
  .text-shop {
    padding: 10px;
    padding-right: 15px;
  }
}

@media (max-width: 768px) {
  .header {
    height: 44px;
    padding-top: 14px;
  }

  .text-gadget {
    padding: 5px;
    padding-left: 12px;
    font-size: 15px;
  }

  .text-shop {
    padding: 5px;
    padding-right: 12px;
    font-size: 15px;
  }
}