.main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--border-color);
}

@media (min-width: 769px) {
  .main {
    min-height: calc(100vh - 61px);
  }
}
@media (max-width: 768px) {
  .main {
    min-height: calc(100vh - 44px);
    padding: 30px;
  }
}